@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@220;300;400;500;600;700&display=swap');


.chat-area header{

	display: flex;
	align-items: center;
	padding: 18px 30px;
}

.chat-area header img{

	height: 45px;
	width: 45px;
	margin: 0 15px;
}

.chat-area header .back-icon{

	color: #3E424B;
	font-size: 18px;
}

.chat-area header .details span{

	font-size: 17px;
	font-weight: 500;
}

.chat-box {
    position: relative;
    height: calc(100vh - 160px); /* flexible height */
    width: 100%; /* full width */
    overflow-y: auto;
    padding: 10px 20px 15px 20px;
    background: #D3D3D3;
    box-shadow: inset 0px 32px 32px -32px rgb(0 0 0 / 5%),
                inset 0px -32px 32px -32px rgb(0 0 0 / 5%);
}

.chat-box .text{

	position: absolute;
	top: 45%;
	left: 50%;
	width: calc(100% - 50px);
	text-align: center;
	transform: translate(-50%, -50%);
}

.chat-box .chat{

	margin: 15px 0;
}

.chat-box .chat p{

	word-wrap: break-word;
	padding: 8px 16px;
	box-shadow: 0 0 32px rgb(0, 0, 0 / 8%),
				0rem 16px 16px -16px rgb(0 0 0 / 10%);
}

.chat-box .outgoing{

	display: flex;
}

.chat-box .outgoing .details{

	margin-left: auto;
	max-width: calc(100% - 130px);
}

.outgoing .details p{

	background: #3E424B;
	color: #fff;
	border-radius: 18px 18px 0 18px;
}

.chat-box .incoming img{

	height: 35px;
	width: 35px;
}


.chat-box .incoming{

	display: flex;
	align-items: flex-end;
}

.chat-box .incoming .details{

	margin-right: auto;
	margin-left: 10px;
	max-width: calc(100% - 130px);
}

.incoming .details p{

	background: #fff;
	color: #3E424B;
	border-radius: 18px 18px 18px 0;
}

.typing-area {
    padding: 12px 15px;
    display: flex;
    gap: 5px; /* space between input and button */
}

.typing-area input {
    flex: 1; /* take available width */
    height: 45px;
    font-size: 16px;
    padding: 0 13px;
    border: 1px solid #e6e6e6;
    outline: none;
    border-radius: 5px 0 0 5px;
}

.typing-area button {
    color: #fff;
    min-width: 50px;
    border: none;
    outline: none;
    background: #3E424B;
    font-size: 19px;
    cursor: pointer;
    opacity: 0.7;
    pointer-events: none;
    border-radius: 0 5px 5px 0;
    transition: all 0.3s ease;
}

.typing-area button.active {
    opacity: 1;
    pointer-events: auto;
}


@media screen and (max-width: 768px) {
    .chat-area header {
        padding: 12px 15px;
    }

    .chat-area header img {
        height: 40px;
        width: 40px;
    }

    .chat-box {
        padding: 8px 12px;
    }

    .chat-box .chat p {
        font-size: 15px;
    }
}

@media screen and (max-width: 480px) {
    .chat-area header {
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .chat-area header .details span {
        font-size: 15px;
    }

    .chat-box {
        height: calc(100vh - 140px); /* adjust for smaller screens */
    }

    .typing-area input {
        height: 40px;
        font-size: 14px;
    }

    .typing-area button {
        min-width: 45px;
        font-size: 17px;
    }
}